<!-- Page Content -->
<div class="container">
  <br />

  <div class="row">

    <div class="col-md-4">
      <form name="formVenta" ng-model="venta">
        <div class="form-group ">
          <label class="control-label requiredField" for="name">
         Identificador Cliente
         <span class="asteriskField">
          *
         </span>
        </label>

          <!-- <input class="form-control" id="idCliente" ng-model="venta.idCliente" name="idCliente" type="number" ng-required="true" /> -->
          <select id="idCliente" name="idCliente" ng-model="venta.idCliente">
            <option ng-repeat="cliente in clientes" value="{{cliente.id}}">{{cliente.nombre}} {{cliente.apellidos}}</option>
          </select>

        </div>

        <div class="form-group ">
          <label class="control-label requiredField" for="name">
         Identificador Empleado
         <span class="asteriskField">
          *
         </span>
        </label>
          <!-- <input class="form-control" id="idEmpleado" ng-model="venta.idEmpleado" name="idEmpleado" type="number" ng-required="true" /> -->
          <select id="idEmpleado" name="idEmpleado" ng-model="venta.idEmpleado">
            <option ng-repeat="empleado in empleados" value="{{empleado.id}}">{{empleado.nombre}}</option>
          </select>

        </div>

        <div class="form-group ">
          <label class="control-label requiredField" for="idTienda">
         Identificador Tienda
         <span class="asteriskField">
          *
         </span>
        </label>
          <!-- <input class="form-control" id="idTienda" ng-model="venta.idTienda" name="idTienda" type="number" ng-required="true" /> -->
          <select id="idTienda" name="idTienda" ng-model="venta.idTienda">
            <option ng-repeat="tienda in tiendas" value="{{tienda.id}}">{{tienda.nombre}}</option>
          </select>

        </div>

        <div class="form-group">
          <select id="myselect" name="mydata" multiple="multiple" ng-model="articulos" size="10">
            <option ng-repeat="model in collectionGeneralArticulos" value="{{model.id}}&{{model.precio}}">{{model.nombre}}, ${{model.precio}}</option>
          </select>
        </div>


        <div class="form-group">
          <div>
            <button class="btn btn-primary " name="submit" ng-click="formVenta.$valid && agregarVenta(venta, articulos)" type="submit">
          Submit
         </button>
          </div>
        </div>




      </form>

    </div>

    <div class="col-md-8" ng-init="cargarVentas()">
      <div style="border: 1px solid black;padding:3%;" class="row" ng-repeat="venta in ventas">
        <div class="col-md-12">

          <h6>Identificador Cliente: {{venta.cliente}}</h6>
          <h6>Identificador Tienda: {{venta.tienda}}</h6>
          <h6>Identificador Empleado: {{venta.empleado}}</h6>
          <h6>Identificador Fecha:{{ venta.fecha}}</h6>
          <h6>Identificador Monto: {{venta.monto}}</h6>
        </div>

      </div>
    </div>


  </div>

</div>
